body {
 background-color:rgb(234, 204, 239) ;
color: rgb(150, 25, 134);
font-family: 'Roboto', sans-serif;
}

/*Comentario, also para poner miscolor color, se agreaga con coma, h1,p para q tengan el mismo color y no repetir
*/
h1{
    color: #FB0EB0;
}

h2{
    color: #2DA3FA;
}

p{
    color: #BA40FC;
}
/*Se agrega el punto antes de imgx para que sepa q es un class*/
/*margin crea espacio del contenido hacia fuera*/
.img1 {
    width: 300px;
    height:320px;

    border-style:solid;
    border-width: 10px;
    border-color:deeppink;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;

}

.img2 {
    width: 300px;
    height:320px ;
    border-style:solid;
    border-width: 10px;
    border-color:deeppink;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

small{
    background-color: gold;
    color: white;
}